.input {
  padding: 10px 14px;
  border-radius: 6px;
  border: 1px solid #333;
  background: #111;
}

.logo {
  display: flex;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  scale: 1.5;
  font-size: 24px; 
  font-weight: bold; 
}

.logo_matter {
  color: #f98526;
}

/* ============= */

section { 
  padding: 80px 0; 
}

.section-title { 
  font-size: 32px; 
  margin-bottom: 40px; 
  text-align: center; 
}


.grid { 
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 24px; 
}

/* ============== */

.banner { 
  background: #000; 
  color: #fff; 
  text-align: center; 
  padding: 60px 16px; 
}

.banner h2 { 
  font-size: 36px; 
  margin-bottom: 16px; 
}