.btn {
  padding: 12px 20px;
  border-radius: 0px;
  font-weight: 500;
  transition: 0.2s;
}

.btn-primary {
  background: #ff7300;
  color: #000;
}

.btn-primary:hover {
  opacity: 0.8;
}

.card {
  background: #1a1a1a;
  border-radius: 12px;
  padding: 16px;
}

.input {
  padding: 10px 14px;
  border-radius: 6px;
  border: 1px solid #333;
  background: #111;
  color: white;
}
