.form_page {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.form_title {
  font-size: 1.75rem;
  line-height: 1.2142857143;
  letter-spacing: -0.0175rem;
  font-weight: 600;
  color: #fafafa;
}

.page_disc {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 400;
  text-align: center;
  color: #858585;
}
