.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  padding: 60px 0;
}

.header-inner,
.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layout-sidebar {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #7a7a7a;
}

.menu { 
  list-style: none;
  display: flex;
  gap: 24px;
}

/* ================= */

header { 
  background: #000;
  color: #fff; 
}

.container { 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 16px; 
}

.header-row { 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  height: 70px; 
}

nav a {
  margin-left: 20px; 
  font-size: 14px; 
  text-transform: uppercase; 
}
