.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  padding: 60px 0;
}

.header-inner,
.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layout-sidebar {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

.menu { 
  list-style: none;
  display: flex;
  gap: 24px;
}