.form_page {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.form_title {
  font-size: 1.75rem;
  line-height: 1.2142857143;
  letter-spacing: -0.0175rem;
  font-weight: 600;
  color: #fafafa;
}

.page_disc {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 400;
  text-align: center;
  color: #858585;
}

.form-style{
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  width: 100%;
}

.feedback{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 456px;
}

.feedback_label{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feedback_span{
  font-size: .875rem;
  line-height: 1.4285714286;
  letter-spacing: 0;
  font-weight: 500;
  color: #fafafa;
}

.inputer{
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 400;
  width: 100%;
  height: 44px;
  padding: 10px 16px;
  background: rgba(246,246,246,.0784313725);
  border-radius: 12px;
  color: #fafafa;
}

.icon{
  width: 24px;
  height: 24px;
}

.button_kz{
  cursor: pointer;
}

.Vector_vector__laLRU{
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: inherit;
  box-sizing: initial;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
    display: unset;
    box-sizing: unset;
  display: revert;
}

.club_adress{
  flex: 1 1;
}

.span_placeholder{
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 400;
  color: #b8b8b8;
}

.FeedbackForm_feedback_form_club_trigger__lc_Wm > .FeedbackForm_icon__dGLfE {
  width: 20px;
  height: 20px;
  color: #fff;
}

.forn_submit{
  display: flex;
  align-items: center;
  gap: 24px;
}

.FeedbackForm_feedback_form_submit_button__fzFFw > .FeedbackForm_icon__dGLfE {
  width: 20px;
  height: 20px;
}

