/* ============ */

.hero {
  height: 95vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://picsum.photos/1600/900?grayscale") center/cover no-repeat;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;  
  text-align: center;
}

.hero_buttons {
  display: flex;
  justify-content: center; 
  gap: 12px;
  margin-top: 24px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 24px;
}

.btn {
  padding: 12px 20px;
  border-radius: 0px;
  font-weight: 500;
  transition: 0.2s;
  color: #fff;
  background: #f98526;
  border-radius: 10px;
}

.btn-primary:hover {
  opacity: 0.8;
}

.card {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  border-radius: 12px;
  padding: 16px;
  color: #ffffff; 
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card_buttons {
  display: flex;
  justify-content: center; 
  gap: 6px;
  margin-top: 24px;
}

.catalog1 {
  background-color: #232325;
}
